<launch>

    <!-- Turtlebot3 World -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find my_robot)/worlds/udacity_office.world" />
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>

    <!-- Turtlebot3 Model -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)"
        doc="model type [burger, burger_for_autorace, waffle, waffle_pi]" />
    <!-- Robot Pose -->
    <arg name="x_pos" default="0" />
    <arg name="y_pos" default="-6.5" />
    <arg name="z_pos" default="0" />
    <arg name="roll_pos" default="0" />
    <arg name="pitch_pos" default="0" />
    <arg name="yaw_pos" default="1.5707" />
    <param name="robot_description"
        command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"
        args="-urdf -model turtlebot3_$(arg model) 
        -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) 
        -R $(arg roll_pos) -P $(arg pitch_pos) -Y $(arg yaw_pos)
        -param robot_description" />

    <!-- Robot State Publisher -->
    <arg name="multi_robot_name" default="" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" value="$(arg multi_robot_name)" />
    </node>

    <!-- Map server -->
    <arg name="map_file" default="$(find main)/maps/udacity_office.yaml" />
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL -->
    <include
        file="$(find turtlebot3_navigation)/launch/amcl.launch">
        <param name="initial_pose_x" value="$(arg x_pos)" />
        <param name="initial_pose_y" value="$(arg y_pos)" />
        <param name="initial_pose_a" value="$(arg yaw_pos)" />
    </include>

    <!-- move_base -->
    <arg name="move_forward_only" default="false" />
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
        <arg name="model" value="$(arg model)" />
        <arg name="move_forward_only" value="$(arg move_forward_only)" />
    </include>

    <!-- rviz -->
    <arg
        name="open_rviz" default="true" />
    <group if="$(arg open_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find main)/rviz/turtlebot3_navigation.rviz" />
    </group>

</launch>